/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */


.row:nth-child(1n+2) {
  margin-top: -10.3%;
}

.row:nth-child(even) :first-child {
  margin-left: 16.666666667%;
}


.row{
  width:100px;
}